div#navbarNav {
    justify-content: flex-end;
}

li.nav.item{
    padding: 0 0 0 20px;
    font-weight: 500;

}


.freeshipping {
    background: purple;
    color: white;
    padding: 10px 0 10px 0;
    text-align: center;
}

.freeshipping p {
    margin: 0;
}

.sellerheading{
    text-align: center;
    margin: 50px 0 50px 0;
}

.productcard{
        text-align: center;
}

.productcard img{
    width: 100%;
}

.bannercontent {
    position: absolute;
    top: 205px;
    left: 24%;
    color: white;
    font-weight: bold;
    text-align: center;
}    

.bannercontent button{
    background: white;
    margin: 25px 0 0 0;
    font-size: 22px;
}    

.bannercontent h1{
    font-size: 500%;
}

.bannercontent p {
    font-size: 22px;
    margin: 15px 0 0 0;
}

.bannersection2 {
    padding: 66px 0 0 0;
}


.productlist1 img{
    padding: 106px 0px 0 45px;
    text-align: center;
}


.productlist2 img{
    padding: 106px 45px 0 0px;
}

.textcontent {
    padding: 37px 0 0 46px;
}

.textcontent2 {
    padding: 37px 0 0 0;
}

.button1 {
    background: purple;
    color: white;
    margin: 10px 0 0 0;
    padding: 6px 16px 5px 19px;
    border-radius: 5px 5px 5px 5px;
}

ul.list {
    list-style: none;
}

.containera {
    background: rgb(219 213 213);
    margin: 100px 0 0px 0px;
    padding: 0 0 95px 0;
}


.footercontent {
    padding: 47px 0 0 132px;
}

.listcontent {
    padding: 47px 0 0 401px;
    text-decoration: underline;
}

span.product1 {
    text-decoration-line: line-through;
}

span.product2 {
    text-decoration-line: line-through;
}

.bannerlist {
    position: absolute;
    top: 222px;
    left: 19%;
    color: white;
    font-weight: bold;
    text-align: center;
}

.bannerlist h1 {
    font-size: 715%;
}
.bannerlist p {
    font-size: 22px;
    margin: 15px 0 0 0;
}

.bannerlist button{
    background: white;
    margin: 25px 0 0 0;
    font-size: 22px;
}  
